header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.intro {
  border-bottom: solid lightgrey 1px;
}

.mainform {
  width: 60%;
  padding: 20px;
  margin-left: 20px;
  border: solid lightgrey 1px;
  border-left: none;
  border-top: none;
}

label {
  padding: 5px;
}

.mainlabel {
  display: block;
}

input {
  margin: 5px;
  border: lightgrey 1px solid;
  background-color: lightgrey;
  display: block;
  width: 45%;
}

.radio input {
  display: inline;
  width: 5%;
}

button {
  border-radius: 35%;
  border: 3px black solid;
  padding: 5px;
  margin: 5px;
}

.mainbody {
  position: relative;
}

.preview {
  width: 20%;
  position: fixed;
  right: 100px;
  bottom: 100px;
}
