header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.intro {
  border-bottom: solid lightgrey 1px;
  padding: 20px;
}

.intro h3 {
  font-weight: normal;
  width: 50%;
}

.mainform {
  width: 60%;
  padding: 20px;
  margin-left: 20px;
  border: solid lightgrey 1px;
  border-left: none;
  border-top: none;
}

label {
  padding: 5px;
}

.mainlabel {
  display: block;
}

input {
  margin: 5px;
  border: lightgrey 1px solid;
  background-color: lightgrey;
  display: block;
  width: 45%;
  padding: 5px;
}

.radio input {
  display: inline;
  width: 5%;
}

button {
  border-radius: 35%;
  border: 3px black solid;
  padding: 5px;
  margin: 5px;
}

.mainbody {
  position: relative;
}

.preview {
  width: 20%;
  position: fixed;
  right: 100px;
  bottom: 100px;
}

footer {
  padding: 20px;
}

footer p {
  margin-left: 20px;
  font-size: 10px;
}

.preview {
  font-family: Arial, sans-serif;
  text-transform: capitalize;
}

.preview .name {
  font-size: 11pt;
  font-weight: bold;
  line-height: 2;
}

.preview .role {
  font-size: 10pt;
}

.preview .office {
  font-size: 9pt;
}
